@import "../../../assets/css/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: $primary-color;

  a {
    text-decoration: none;
    // color: inherit;
    transition: color 0.3s ease, color 0.3s ease;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;

    &-image {
      width: 40px;
    }
  }

  &__navBar {
    display: flex;
    gap: 1rem;

    a {
      transition: background-color 0.48s ease, color 0.48s ease;
    }

    &-buttonSign {
      border: 1px solid $font-color;
      color: inherit;
      padding: 0.2rem 0.8rem;
      border-radius: 10px;
      font-weight: 500;

      &:hover {
        background-color: $font-color;
        color: $primary-color;
        cursor: pointer;
      }
    }

    &-buttonLogout {
      border: 1px solid $font-color;
      color: inherit;
      padding: 0.2rem 0.8rem;
      border-radius: 10px;
      font-weight: 500;

      &:hover {
        background-color: #e63946;
        color: $font-color;
        cursor: pointer;
      }
    }

    &-userName {
      cursor: pointer;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 2px;
      border: 1px solid rgba(255, 255, 255, 0.24);
      border-radius: 5px;
      position: relative;

      &:hover {
        background-color: rgba(255, 255, 255, 0.127);
      }

      .arrowIcon {
        transition: transform 0.2s ease-in-out;
      }
      .rotated {
        transform: rotate(90deg);
      }

      &-options {
        position: absolute;
        top: 40px; /* Adjust according to your layout */
        right: -20px;
        border: 1px solid rgba(255, 255, 255, 0.224);
        border-radius: 2px;
        z-index: -1000;
        display: flex;
        flex-direction: column;
        opacity: 0; /* Initially hidden */
        transition: transform 0.5s ease-in-out;

        button {
          text-align: start;
          background-color: $primary-color;
          margin: 0;
          border-radius: inherit;
          padding: 5px 10px;
          border: none;
          transition: background-color 0.3s ease, color 0.3s ease;
        }

        button:hover {
          background-color: $font-color;
          color: $primary-color;
        }
      }

      &-options--show {
        z-index: 1000;
        opacity: 1; /* Fully visible */

        transform: translateY(0); /* At the position */
      }
    }
  }

  &__sideBar {
    background-color: rgba(0, 0, 0, 0.632);
    backdrop-filter: blur(5px);
    // filter: blur(0px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    font-weight: 600;
    transform: translateX(100%);
    transition: transform 0.35s ease-in-out;
    a {
      color: inherit;
    }

    a:nth-child(2) {
      margin-top: 5rem;
    }

    a:hover {
      color: #6c757d;
    }

    &__toggleButton {
      font-size: 4rem;
      position: fixed;
      right: 2rem;
      top: 1rem;
    }
  }

  &__sideBar--open {
    transform: translateX(0);
  }

  &__toggleButton {
    display: none;
  }
}

/////////////////////////////
/// Responsive SECTION    ///
/////////////////////////////

@media (max-width: 530px) {
  .header {
    padding: 1rem 2rem;
    &__navBar {
      display: none;
    }
    &__toggleButton {
      display: block;
    }
  }
}
