@import "../../assets/css/variables.scss";

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  opacity: 1;
  transition: grid-template-columns 0.2s ease-in-out;
  // flex-direction: row;

  &--expanded {
    grid-template-columns: 25px 1fr;
    h3,
    button,
    a {
      opacity: 0;
    }
  }

  &__leftSideBar {
    overflow: hidden;
    // transform: translateX(-95%);
    // flex: 0 0 1px;
    // display: none;
    // width: 30%;
    // min-width: 350px;
    border-right: 1px solid rgba(255, 255, 255, 0.106);
    transition: transform 0.45s ease-in-out;
  }

  &__leftSideBar-hidden {
    // transform: translateX(-95%);

    // display: none;
  }

  &__dashboard {
    // flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__cryptoTrend {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;

      &-cryptoBox {
        width: 20rem;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 1rem;
        background-color: $primary-color;
        border-radius: 10px;

        p {
          margin: 0.2rem;
        }
      }
    }

    // &__cryptoTable {
    //   width: 68rem;
    //   margin: 0 auto;
    //   margin-bottom: 2rem;
    // }
  }
}

@media (max-width: 1280px) {
  .main {
    &__dashboard {
      &__cryptoTrend {
        &-cryptoBox {
          width: 17.5rem;
        }
      }
    }
  }
}
@media (max-width: 1140px) {
  .main {
    &__dashboard {
      &__cryptoTrend {
        &-cryptoBox {
          width: 14rem;
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .main {
    &__dashboard {
      &__cryptoTrend {
        flex-direction: column;
        &-cryptoBox {
          width: 30rem;
        }
      }
    }
  }
}
@media (max-width: 529px) {
  .main {
    &__dashboard {
      &__cryptoTrend {
        flex-direction: column;
        &-cryptoBox {
          width: 300px;
        }
      }
    }
  }
}
