///////////////////////
/// PALETTE COLORS ///
///////////////////////
///color1: #f8f9fa
///color2: #e9ecef
///color3: #dee2e6
///color4: #ced4da
///color5: #adb5bd
///color6: #6c757d
///color7: #495057
///color8: #343a40
///color9: #212529

///////////////////////
/// COLORS SECTION ///
///////////////////////

$primary-color: #121111;
$secondary-color: #1d1f21;
$font-family: "Poppins", sans-serif;
$font-color: #e9ecef;
$secondary-font-color: #ced4da;
