.cryptoTable {
  width: 68rem;
  margin: 0 auto;
  margin-bottom: 2rem;

  .tableRow {
    .icon {
      &-add,
      &-delete {
        opacity: 0;
        // transition: color 0.2s;
      }
      &-add:hover {
        color: rgba(0, 0, 0, 0.598);
      }
      &-delete:hover {
        color: #d62828;
      }
    }

    &:hover {
      // background-color: red !important;
      .icon {
        &-add,
        &-delete {
          opacity: 1 !important ;
        }
      }
    }
  }
}
