@import "../../assets/css/variables.scss";

.manageList {
  text-align: center;
  height: 700px;
  position: relative;

  &-arrowIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  &-arrowIcon--clicked {
    transform: rotate(0deg);
  }

  &-title {
    margin-top: 10px;
    font-weight: 500;
  }

  &-button {
    width: 90%;
    padding: 5px;
    margin-bottom: 20px;
    background-color: $primary-color;
    border: none;
    border-radius: 6px;
    transition: background-color 0.35s ease, color 0.35s ease;

    &:hover {
      background-color: $font-color;
      color: $primary-color;
      cursor: pointer;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    // align-items: start;
    // width: 100%;

    .selectedItem {
      background-color: $primary-color;
      .icon {
        color: gray;
        opacity: 1;
      }
    }
    &__wallet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: start;
      padding: 10px 30px;
      margin: 0;
      font-size: 0.9rem;
      position: relative;
      transition: background-color 0.2s ease, color 0.2s ease;

      &:hover {
        background-color: $primary-color;
        cursor: pointer;
      }

      .icon {
        opacity: 0;
        transition: color 0.2s ease;
      }

      &:hover .icon {
        opacity: 1;
      }

      .icon:hover {
        color: gray;
      }

      &-options {
        position: absolute;
        top: 40px; /* Adjust according to your layout */
        right: 8px;
        border: 1px solid rgba(255, 255, 255, 0.224);
        border-radius: 2px;
        z-index: -1000;
        display: flex;
        flex-direction: column;
        opacity: 0; /* Initially hidden */
        transform: translateY(-10px); /* Slightly above the position */
        transition: opacity 0.3s ease, transform 0.3s ease; /* Transition effect */

        button {
          text-align: start;
          background-color: $primary-color;
          margin: 0;
          border-radius: inherit;
          padding: 5px 10px;
          border: none;
          transition: background-color 0.3s ease, color 0.3s ease;
        }

        button:hover {
          background-color: $font-color;
          color: $primary-color;
        }
      }

      &-options--show {
        z-index: 1000;
        opacity: 1; /* Fully visible */

        transform: translateY(0); /* At the position */
      }
    }
  }
}

// .icon {
//   opacity: 0;
//   transition: opacity 10s ease, color 0.2s ease;
// }
// .icon:hover {
//   color: rgba(255, 255, 255, 0.591);
// }
